.loading-container {
  position: fixed;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
  height: 200px;
  width: 200px;
  color: #2d6ca2;
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
}

.loading-cloud {
  top: 25px;
  font-size: 1100%;
}

.loading-refresh {
  font-size: 40%;
  color: #FFF;
  animation: rotate 3s steps(1000) infinite;
  top: -210px;
  left: -10px;
}

.loading-text {
  position: relative;
  top: -160px;  
  animation: blink 1.5s steps(1000) infinite;
}


@keyframes rotate {
  0% {
    opacity: 1;
  transform: rotateZ(0deg);
  }
  50% {
  transform: rotateZ(180deg);
    opacity: 0.5;
  }
  100% {
  transform: rotateZ(360deg);
    opacity: 1;
  }
}

@keyframes blink {
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  0%,
  100% {
    opacity: 0.5;
  }
}