html,
body {
  height: 100%;
}
.body-content {
  height: 80%;
}
.full-site-body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.full-body-div {
  height: 100%;
  width: 100%;
}
#map {
    position: absolute;
  height: 99%;
  width: 99%;
}

.map-info-right{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(50,50,50,1);
    right: 0px;
    top:0px;
    width:80%;
    height:100%;    
    position:absolute;   
    max-width: 400px;
}

.timetable{
    width: 100%;
}

td { 
    padding: 2px;
}

.departures { 
    border-spacing: 2px;
    border-collapse: separate;
}


.map-btn-menu{
    right: 10px;
    bottom:10px;
    position:absolute;   
}

.map-menu-table {
    border-collapse:separate; 
    border-spacing:0.5em;
}

.searchField{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(50,50,50,1);
    left:10px;
    right:10px;
    height:40px;    
    position:absolute;   
    max-width: 400px;
}

.searchField{
    top: 10px;
}
    
.searchField input {
    background-color: #FFF;
    border: 0px solid;
    height: 40px;
    padding-left: 45px;
    color: #555;
    width: 100%;
    right: 40px;
    max-width:400px;
}

.map-menu-btn{
    left: 0px;
    position:absolute;  
    width:40px;
    height:40px
}




.ui-menu-item{
    background-color: #FFFFFF;
}

.ui-state-focus{
    background-color: #EAF4FD !important;
    background-image: none !important;
    border: 0px !important;
    margin: 0px !important;
}



.ui-autocomplete {
max-height: 50%;
overflow-y: auto;
overflow-x: hidden;
}

.ui-widget-content {
    border:none !important; 
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
}

#wrapper {
    overflow: hidden;
}

#first {
    padding-left: 10px;
    float: left !important;
    vertical-align: middle;
    align-content: center;        
    line-height: 40px;
    height: 40px;
    width: 40px;
}

#second {
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    border-bottom-color: #DCD8D8;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-size: 13px;
    color: #333;
    overflow: hidden;
}
